__pycache__/
*.pyc
*.log
.env
*.pem
*.key
*.crt
*.db
.vscode/
.idea/
.docker/
*.swp
docker-compose.override.yml
php/
django-api/entrypoint.dev.sh
django_blog_front/entrypoint.dev.sh
app/Dockerfile.dev
app/id_ansible.pub
