{% extends "base.html" %}
{% load static %}
{% block header %}

{% include "includes/header.html" with title="Esteban Martins" created_at=none text_user_field=none user=none bg_image="assets/img/hero_background2.png" description="Network Engineer" %}

{% endblock %}

{% block content %}
            <h2>Network Engineer Ssr/Sr.</h2>
            <p class="fst-italic py-3">
            A lo largo de mi carrera trabajé construyendo y optimizando estructuras. Me apasiona diseñar, crear y mejorar. Solucionar problemas está entre mis tareas más frecuentes, pero mi foco está en evitar tener problemas que solucionar. Y claro… siempre dispuesto a nuevos desafíos.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>11 Nov 1980</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Web:</strong> <a href="http://estebanmartins.com.ar">www.estebanmartins.com.ar</a></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span></span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Buenos Aires, Argentina</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>44</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Grado:</strong> <span>Ssr/Sr</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>contacto@estebanmartins.com.ar</span></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                </ul>
              </div>
            </div>
            <p class="py-3">
              Esta carrera me llevó por caminos que nunca imaginé: conocí todo tipo de personas, lugares, culturas y vivencias que fueron transformando mi cabeza. Además, me permitió madurar profesionalmente en cada rol que desempeñé, más allá del título o la tarea.
            </p>

            <hr class="my-4" />

      <div class="container section-title" data-aos="fade-up">
        <h2>Resumen</h2>
        <p>
          A lo largo de mi carrera cumplí diversos roles: empecé brindando soporte técnico y, con el tiempo, fui evolucionando hacia la administración de infraestructuras de red, tanto LAN como centralizadas, siempre dentro del campo del networking.
          También participé activamente en el crecimiento de productos y soluciones, adaptándolos a las necesidades reales de cada entorno.
        </p>
      </div><!-- End Section Title -->
        <p><em>
        Especialista en redes con más de 15 años de experiencia diseñando, implementando y optimizando infraestructuras LAN, WLAN y redes centralizadas. Enfocado en la automatización de tareas, la mejora continua y la resolución eficiente de incidencias en entornos híbridos.
        </em></p>
            <hr class="my-4" />
        <h3 class="resume-title">Experiencia profesional</h3>
        <div class="resume-item">
            <h4>Network Engineer | Project leader</h4>
            <h5>2017 – 2025  </h5>
            <p><em>Nimbus Networks</em></p>
            <ul>
            <li>Diseño y despliegue de redes Ethernet/Wi-Fi en entornos corporativos.</li>
            <li>Coordinación de proyectos end-to-end: relevamiento, implementación y soporte postventa.</li>
            <li>Segmentación por VLAN, multicast (IGMP/IPTV), SD-WAN, SDN.</li>
            <li>Virtualización de servicios con Proxmox y VMware.</li>
            <li>Automatización con Bash, Python y Wireless controllers APIs .</li>
            </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
            <h4>Network Engineer | Infraescture Administration</h4>
            <h5>2009 – 2016</h5>
            <p><em>Ecnex Argentina S.A.</em></p>
            <li>Gestión de redes LAN/WAN con routing BGP y túneles VPN (IPsec, PPTP).</li>
            <li>Balanceo de enlaces y políticas de seguridad sobre infraestructura WAN/LAN.</li>
            <li>Migración hacia infraestructura centralizada en datacenter.</li>
            <li>Configuración de firewalls, routers y switches multivendor.</li>
            <li>Implementación de ssistemas de monitoreo con Nagios-Dude.</li>
            <li>Documentación técnica y operativa para soporte y escalabilidad.</li>
            <ul>
            </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
            <h4>Technical Support Junior</h4>
            <h5>2008 – 2009</h5>
            <p><em>Ecnex Argentina S.A.</em></p>
            <ul>
            <li>Soporte remoto a usuarios finales y técnicos en LATAM.</li>
            <li>Diagnóstico de red, configuraciones básicas y administración de servidores Linux.</li>
            <li>Automatización con Bash para tareas repetitivas.</li>
            <li>Herramientas: iptables, hotspot, bash.</li>
            </ul>
        </div><!-- Edn Resume Item -->

 {% endblock %}