{% extends "base-blog.html" %}
{% load static %}
{% block header %}

{% comment %} {% include "includes/header.html" with title="Hablemos!" created_at=None text_user_field=none user=none bg_image="assets/img/contact-bg-1.png" description="let's chat.." %} {% endcomment %}

{% endblock%}

{% block content %}
    <p>¿Quieres ponerte en contacto? Rellena el siguiente formulario para enviarme un mensaje y te responderé lo antes posible.</p>

  <form id="contact-form" method="post" action="/api/contact/" data-controller="contact-form" class="ds-form">
  {% csrf_token %}
    <input type="hidden" name="submitted" value="true">
    <input type="hidden" name="emailAddress" value="">
    <input type="hidden" name="phoneNumber" value="">
    <input type="hidden" name="street1" value="">
    <input type="hidden" name="street2" value="">
    <input type="hidden" name="city" value="">
    <input type="hidden" name="state" value="">
    <input type="hidden" name="zip" value="">
    <div class="ds-form-entry">
      <label for="name-input" class="ds-form-entry__label">
        Nombre:
      </label>
      <div class="ds-form-entry__body">
        <input id="name-input" type="text" name="name" value="" maxlength="100" class="ds-input">
      </div>
    </div>
    <div class="ds-form-entry">
      <label for="email-input" class="ds-form-entry__label">
        Email:
      </label>
      <div class="ds-form-entry__body">
        <input id="email-input" type="text" name="email" value="" maxlength="100" class="ds-input">
      </div>
    </div>
    <div class="ds-form-entry">
      <label for="message-input" class="ds-form-entry__label">
        Mensaje:
      </label>
      <div class="ds-form-entry__body">
        <textarea id="message-input" name="comments" data-action="
            keydown.meta+enter-&gt;contact-form#requestSubmit
            keydown.ctrl+enter-&gt;contact-form#requestSubmit
          " class="ds-textarea"></textarea>
      </div>
    </div>
    <div class="ds-form-buttons">
      <button type="submit" data-contact-form-target="submitButton" class="ds-primary-button">
        Enviar Mensaje
      </button>
    </div>
  </form>

{% endblock%}