{% extends "base-blog.html" %}
{% load static %}

{% block header %}

{% comment %} {% include "includes/header-blog.html" %} {% endcomment %}

{% endblock %}


{% block content %}
<!-- hello -->
<h1>Hola, soy Esteban!</h1>
<p>Soy un profesional de IT y me he desarrollado toda mi carrera en el área de infraestructura.</p>
<p>Desde 2008, trabajo administrando redes, diseñando soluciones y optimizando entornos técnicos.</p>

<!-- about this page -->
<h2 id="hero" class="post-title">¿Que vas a encontrar acá?</h2>
<p>
Este sitio es un espacio personal donde documento mi recorrido profesional y te muestro cómo trabajo.
Podés explorar mi <a href="{% url 'me' %}">portfolio</a> con proyectos en los que participé, y leer publicaciones donde profundizo en aspectos técnicos, decisiones tomadas y aprendizajes adquiridos.
</p>
<p>
Cada sección está pensada para que conozcas mi perfil más allá del CV: cómo pienso, cómo encaro los desafíos y cómo incorporo nuevas herramientas.
</p>
<blockquote>
    Este blog no tiene fines comunitarios, es simplemente una bitácora personal-profesional. <a href="post/este-blog">→ Leer más sobre "Este blog"</a>
</blockquote>
<!-- scope -->
<h2 id="project" class="post-title">¿Cual es el objetivo de este sitio?</h2>
<p>
    Una de las habilidades más difíciles de demostrar es la capacidad de aprender nuevas tecnologías, adaptarse y aplicar herramientas en distintos contextos... a menos que cuentes con un buen portafolio.
    Otra, igual de valiosa, es la de organizar y documentar información de forma clara.
    Este proyecto busca reflejar ambas capacidades, mientras registro mis aprendizajes y prácticas actuales.
</p>
{% endblock %}
