{% extends "base-blog.html" %}
{% load static %}

{% block header %}
  {% comment %} {% include "includes/header-blog.html" with title="Sobre mí" created_at="" text_user_field="Publicado por " user="Esteban Martins" bg_image="assets/img/blog-bg-hero.png" description="Conoce más sobre mi experiencia y habilidades." %} {% endcomment %}
{% endblock %}

{% block content %}
{% comment %} <aside class="m-working-code">
<p>
Este blog es, simplemente, una bitácora técnica personal. Un espacio donde documento mi trabajo, mis aprendizajes, mis decisiones y errores, con el objetivo de dejar un registro que pueda ser útil para mí, y también para quienes deseen evaluar mi perfil de forma más profunda.
</p> {% endcomment %}
</aside>
<h1 id="hero">Ultimos posts de Esteban Martins</h1>
<div id="posts-content"
    hx-get="{% url 'posts_fragment' %}"
    hx-trigger="load"
    hx-target="#posts-content"
    hx-swap="innerHTML">
<div class="spinner">⏳ Cargando los posts...</div>
</div>
<a type="button" class="btn" href="{% url 'create_post' %}" >Nuevo Post</a>

<script>
document.addEventListener("DOMContentLoaded", function () {
const container = document.getElementById("posts-content");
const cachedPosts = sessionStorage.getItem("cachedPosts");

if (cachedPosts) {
    container.innerHTML = cachedPosts;
} else {
    container.setAttribute("hx-get", "{% url 'posts_fragment' %}");
    container.setAttribute("hx-trigger", "load");
    container.setAttribute("hx-target", "#posts-content");
    container.setAttribute("hx-swap", "innerHTML");

    document.body.addEventListener("htmx:afterSwap", function (evt) {
    if (evt.target.id === "posts-content") {
        sessionStorage.setItem("cachedPosts", container.innerHTML);
    }
    });
}
});
</script>
{% endblock %}
