{% extends "base.html" %}
{% load static %}
{% block header %}

{% include "includes/header.html" with title="un Blog más.." created_at=None text_user_field=none user=none bg_image=None description="Un simple Blog personal" %}

{% endblock%}

{% block content %}
    {% comment %} <div class="container"> {% endcomment %}
        {% for post in posts %}
        <div class="post-preview">
            <a href="{% url  'Post' post.slug %}">
                <h2 class="post-title">{{ post.title }}</h2>
                <h3 class="post-subtitle">{{ post.description }}</h3>
            </a>
            <p class="post-meta">
                Publicado por <strong>{{ post.user.username }} </strong> el {{ post.created_at|slice:":16"|cut:"T"|cut:"Z"|slice:"10"  }}
            </p>
            <hr class="my-4" />
        </div>
        {% empty %}
            <p>No hay posts disponibles.</p>
    {% endfor %}
    <a type="button" class="btn  btn-warning" href="{% url 'create_post' %}" >Nuevo Post</a>
    {% comment %} </div> {% endcomment %}
{% endblock %}
