{% extends "base-blog.html" %}
{% load static %}

{% block header %}
  {% include "includes/header-blog.html" with title="Sobre mí" created_at="" text_user_field="Publicado por " user="Esteban Martins" bg_image="assets/img/portada_blog.png" description="Conoce más sobre mi experiencia y habilidades." %}
{% endblock %}

{% block content %}
    {% comment %} <div class="container"> {% endcomment %}
    <h1 id="hero">Ultimos posts de Esteban Martins</h1>
        {% for post in posts %}
        <div class="m-recent-post">
            <h2>
                <a href="{% url  'Post' post.slug %}">
                    {{ post.title }}
                </a>
            </h2>
            <div class="meta">
                Publicado por {{ post.user.username }} el 
                <time datetime="{{ post.created_at|date:'c' }}"> {{ post.created_at|slice:":16"|cut:"T"|cut:"Z"|slice:"10"  }}</time>
            </div>
            <div class="tags">
                Tags: <a href="">
                {{ post.category_title }}</a>
            </div>
            <p class="preview">
                {% comment %} {{ post.description }} {% endcomment %}
                {{ post.content|striptags|truncatewords:30 }}&nbsp;
                <a href="{% url 'Post' post.slug %}">leer&nbsp;mas</a>&nbsp;→
            </p>
        </div>
        {% empty %}
            <p>No hay posts disponibles.</p>
    {% endfor %}
    <a type="button" class="btn" href="{% url 'create_post' %}" >Nuevo Post</a>
    {% comment %} </div> {% endcomment %}
{% endblock %}
