{% extends "base.html" %}
{% load static %}
{% block header %}
<header class="masthead"
        style="background-image: url('{% if post.miniature_url %}{{ post.miniature_url }}{% else %}{% static "assets/img/home_bg_library.jpg" %}{% endif %}');">

      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading">
                      <h1>
                       {{ post.title }}
                      </h1>
                      <h2 class="subheading">{{ post.description }}</h2>
                      <span class="meta">
                          Publicado por 
                          <!-- <a href="#!">Start Bootstrap</a> -->
                          <a >{{ post.user.username }}</a>
                          {{ post.created_at|date:"d/m/Y H:i" }}
                          {% comment %} <p>{{ post.created_at | date:"d/m/Y H:i" }}</p> {% endcomment %}
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </header>
{% endblock%}

{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
      {{ post.content | safe }}
        </div>
      </div>
    </div>
  </article>
    {% if request.session.token and post.user.email == request.session.email %}
      <form action="{% url 'delete_post' post.slug %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Eliminar este post?');">
          Eliminar post
        </button>
      </form>
    {% endif %}
  <div class="container mt-5">
    <h3>Comentarios</h3>
    <div id="comments"></div>
    <br>

    <form id="comment-form">
      <textarea id="comment-content" class="form-control mb-2" rows="3" placeholder="Comentar..." required></textarea>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>  
{% endblock %}