<!DOCTYPE html>
<html>
<head>
    <title>Lista de mails</title>
</head>
<body>
    <h1>mails</h1>
    <ul>
        {% for email in emails %}
            <li>
                <strong>subject: </strong>: {{ email['subject'] }}
                <strong>Mail de: </strong>: {{ email['from'] }}
                {% comment %} <strong>Para: </strong>: {{ task['subject'] }} {% endcomment %}
                {% if email.get('leido') %}
                    <span style="color: green;">[leido]</span>
                {% else %}
                    <span style="color: red;">[Sin leer]</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
